name: Test Reproduction Run

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test-full-run:
    runs-on: ubuntu-latest

    steps:
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v3

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Checkout Sample Data
      uses: actions/checkout@v4
      with:
        repository: asmap/sample-data
        ref: main
        path: tests/data

    - name: Run with reproduction data
      id: run_cmd
      run: |
        output=$(nix develop --command ./run map -r tests/data/1742127147 -t 1742127147 | tr '\n' ' ')
        echo "output=$output" >> $GITHUB_OUTPUT

    - name: Check output hash
      if: contains(steps.run_cmd.outputs.output, '76835fb5d0002930ede434f396b38ab690e2b38193a516a5fb513ad2aa22e5af')
      run: |
        echo "Output matches the expected value"
